*.pyc
*.pyo
*~
__pycache__
.DS_Store
*.swp
.idea
.vscode
.venv
venv
env
/doc/build/
/doc/source/conf.py
/i18n/*.po
/i18n/*.pot
/test/*.pyc
/test/*.swp
/test/*.pyo
/test/__pycache__
/test/*~
/report/*.pyc
/report/*.swp
/report/*.pyo
/report/__pycache__
/report/*~
/models/*.pyc
/models/*.swp
/models/*.pyo
/models/__pycache__
/models/*~
/wizard/*.pyc
/wizard/*.swp
/wizard/*.pyo
/wizard/__pycache__
/wizard/*~
/data/*.xml
/views/*.xml
/security/*.csv
/security/*.xml
/static/description/index.html
/static/description/icon.png
/static/src/css/*.css
/static/src/js/*.js
/static/src/xml/*.xml
/static/src/img/*.png
/static/src/img/*.jpg
/static/src/img/*.jpeg
/static/src/img/*.svg
/static/src/img/*.gif
/static/src/img/*.webp
/static/src/img/*.ico
/static/src/img/*.txt
/static/src/img/*.pdf
/static/src/img/*.zip
/static/src/img/*.tar.gz
/static/src/img/*.tgz
/static/src/img/*.tar
/static/src/img/*.bz2
/static/src/img/*.xz
/static/src/img/*.7z
/static/src/img/*.rar
/static/src/img/*.exe
/static/src/img/*.msi
/static/src/img/*.sh
/static/src/img/*.bin
/static/src/img/*.bat
/static/src/img/*.cmd
/static/src/img/*.ps1
/static/src/img/*.vbs
/static/src/img/*.js
/static/src/img/*.json
/static/src/img/*.xml
/static/src/img/*.css
/static/src/img/*.html
/static/src/img/*.md
/static/src/img/*.rst
/static/src/img/*.txt
/static/src/img/*.csv
/static/src/img/*.yaml
/static/src/img/*.yml
/static/src/img/*.sql
/static/src/img/*.db
/static/src/img/*.sqlite
/static/src/img/*.sqlite3
/static/src/img/*.log
/static/src/img/*.bak
/static/src/img/*.old
/static/src/img/*.tmp
/static/src/img/*.temp
/static/src/img/*.dump
/static/src/img/*.seed
/static/src/img/*.sublime-project
/static/src/img/*.sublime-workspace
/static/src/img/*.vscode
/static/src/img/*.idea
/static/src/img/*.iml
/static/src/img/*.ipr
/static/src/img/*.iws
/static/src/img/*.suo
/static/src/img/*.user
/static/src/img/*.userosscache
/static/src/img/*.sln
/static/src/img/*.docstates
/static/src/img/*.git
/static/src/img/*.svn
/static/src/img/*.hg
/static/src/img/*.gitignore
/static/src/img/*.gitattributes
/static/src/img/*.gitmodules
/static/src/img/*.npmignore
/static/src/img/*.dockerignore
/static/src/img/*.travis.yml
/static/src/img/*.gitlab-ci.yml
/static/src/img/*.circleci
/static/src/img/*.github
/static/src/img/*.azure-pipelines
/static/src/img/*.appveyor.yml
/static/src/img/*.codeclimate.yml
/static/src/img/*.coveralls.yml
/static/src/img/*.editorconfig
/static/src/img/*.prettierrc
/static/src/img/*.prettierignore
/static/src/img/*.eslintrc
/static/src/img/*.eslintignore
/static/src/img/*.stylelintrc
/static/src/img/*.stylelintignore
/static/src/img/*.jsbeautifyrc
/static/src/img/*.pug-lintrc
/static/src/img/*.coffeelint.json
/static/src/img/*.tslint.json
/static/src/img/*.jshintrc
/static/src/img/*.jscsrc
/static/src/img/*.bowerrc
/static/src/img/*.babelrc
/static/src/img/*.yarnrc
/static/src/img/*.npmrc
/static/src/img/*.env
/static/src/img/*.flaskenv
/static/src/img/*.ruby-version
/static/src/img/*.ruby-gemset
/static/src/img/*.nvmrc
/static/src/img/*.node-version
/static/src/img/*.python-version
/static/src/img/*.php-version
/static/src/img/*.go-version
/static/src/img/*.java-version
/static/src/img/*.scala-version
/static/src/img/*.clojure-version
/static/src/img/*.erlang-version
/static/src/img/*.elixir-version
/static/src/img/*.rust-version
/static/src/img/*.swift-version
/static/src/img/*.kotlin-version
/static/src/img/*.dart-version
/static/src/img/*.perl-version
/static/src/img/*.lua-version
/static/src/img/*.tcl-version
/static/src/img/*.r-version
/static/src/img/*.julia-version
/static/src/img/*.m-version
/static/src/img/*.c-version
/static/src/img/*.cpp-version
/static/src/img/*.cs-version
/static/src/img/*.fs-version
/static/src/img/*.hs-version
/static/src/img/*.ml-version
/static/src/img/*.sh-version
/static/src/img/*.zsh-version
/static/src/img/*.bash-version
/static/src/img/*.pkr.hcl
/static/src/img/*.tf
/static/src/img/*.tfvars
/static/src/img/*.hcl
/static/src/img/*.nomad
/static/src/img/*.vault
/static/src/img/*.consul
/static/src/img/*.boundary
/static/src/img/*.waypoint
/static/src/img/*.dockerfile
/static/src/img/*.docker-compose
/static/src/img/*.docker-stack
/static/src/img/*.kubernetes
/static/src/img/*.helm
/static/src/img/*.kustomize
/static/src/img/*.ansible
/static/src/img/*.terraform
/static/src/img/*.packer
/static/src/img/*.vagrant
/static/src/img/*.chef
/static/src/img/*.puppet
/static/src/img/*.salt
/static/src/img/*.fabric
/static/src/img/*.capistrano
/static/src/img/*.mina
/static/src/img/*.deployer
/static/src/img/*.pm2
/static/src/img/*.forever
/static/src/img/*.nodemon
/static/src/img/*.pm2-dev
/static/src/img/*.pm2-prod
/static/src/img/*.pm2-test
/static/src/img/*.pm2-staging
/static/src/img/*.pm2-demo
/static/src/img/*.pm2-lab
/static/src/img/*.pm2-local
/static/src/img/*.pm2-remote
